<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLqrK-9gU1twBHgjDqSPBeIBcEcsyILf4</string>
	<key>GCM_SENDER_ID</key>
	<string>808336413203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.cyberman</string>
	<key>PROJECT_ID</key>
	<string>password-generator-cb253</string>
	<key>STORAGE_BUCKET</key>
	<string>password-generator-cb253.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808336413203:ios:48b115a67f84a54e55e5e6</string>
</dict>
</plist>